.ProductsTable table {
    width: 100%;
}

.ProductsTable th {
    background-color: rgb(85, 85, 119);
    color: white;
}

.ProductsTable .Even {
    background-color: #ddd;
}

.ProductsTable .Odd {
    background-color: #ccc;
}